body{
    font-family: "Encode Sans Semi Expanded", sans-serif;
}

/*Page Main Container*/
.container-fluid{
    background-color: #66369D;
}

/*Navigation Bar*/
.navbar .container{
    background: linear-gradient(#f39a0b, #edac42, #654c02) ; /*light effect*/
    /*To center horizontally within the container in the navbar*/
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    box-shadow: 0 0 25px 0 rgba(8, 6, 0, 0.953); /*hor, ver, blur, radius, color*/
    
}

/*Navigation Bar Links*/
/*Home Link*/
#nav1{
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}

/*About Me, Resume, Work, Contactr*/
#nav2{
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    color: white;
}

.navbar-nav{
    /*Centers navitems*/
    margin-left: auto;
    margin-right: auto;
}

.nav-item{
    /*Padding between nav-items*/
    padding: 0 35px;
}

/*Card*/
.card{
    background-color: #66369D;
    border: #edac42 dotted;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: max-height 0.3s ease-out, box-shadow 0.3s ease-out;
}

.card-title{
    color: #CDC7D9;
    font-weight: bolder;
}

.card-title:hover{
    color: #ffc107;
}

.card-text{
    color: #CDC7D9;
    display: none;
    margin-top: 20px;
    opacity: 0;
}

.card.expanded{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card.expanded .card-text{
    display: block;
    opacity: 1;
    transition: opacity 0.3s
}

/*Button*/
.expand-btn{
    background: none;
    color: #CDC7D9;
    border-radius: 3px;
    border: none;
  }

/*Carousel*/
#show-btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #CDC7D9;
    border: none;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.carousel-container{
    display: none;
    position: relative;
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.carousel{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item{
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-item img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

/*Carousel Button*/
.carousel-btn {
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

/*Arrows*/
#prev-btn {
    left: 10px;
}

#next-btn{
    right: 10px;
}

/*List*/
/*Button*/
.list-btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #CDC7D9;
    border: none;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  li{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 16px;
  }
  
  .list-container {
      display: none; /* Hide the container initially */
  }
  
  .list-container.expanded {
      display: block; /* Show the container when expanded */
  }

/*Next*/
.next-btn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #CDC7D9;
    border: none;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .time-container{
    margin-top: 20px;
    font-size: 18px;
    color: white;
  }

/*Footer*/
footer{
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    background-color: #66369D;
    color: #ffc107;
    padding: 10px;
}

